/* .main-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  justify-content: space-around;
}

body {
  //margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-image: url("C:\Users\Farman Malik\Desktop\milky-way-g7406f1059_1280.jpg");
  background-color: black;
  
} */